@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.button {
   @include flex;
   gap: rem(12);
   background-color: var(--text);
   color: var(--bg);
   font-weight: 500;
   padding: rem(8) rem(12);
   border-radius: rem(12);
   transition: all 0.3s $ease;

   &:hover {
      color: var(--bg);
   }

   svg {
      width: rem(16);
      height: rem(16);
      margin-inline: rem(-2);
   }

   @keyframes rotate {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(360deg);
      }
   }

   .load {
      opacity: 0.5;
      animation: rotate 3s linear infinite;
   }

   &--outline {
      background-color: transparent;
      border: 1px solid rgba($white, 0.12);
      color: var(--text);

      &:hover {
         background-color: $white;
         color: $black;
      }
   }
}